.top-img {
  padding: 0;
}

.top-img img {
  width: 515px;
  border: 1px solid black;
  border-radius: 7px;
}

.top-content-text {
  margin-left: 20px;
}

.title {
  font: 700 28px/34px -apple-system,BlinkMacSystemFont,sans-serif;
}

.text {
  margin-top: 12px;
  margin-bottom: 16px;
  opacity: .8;
  font-size: 16px;
  line-height: 1.56;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-content {
  font: 500 16px/35px -apple-system,BlinkMacSystemFont,sans-serif;
  text-align: center;
  border-radius: 3px;
  padding: 14px 180px;
  border: solid 1px #f50;
  position: relative;
  transition: all .3s;
}

.btn-content:hover {
  color: white;
  background-color: #f50;
}
